/* style.css */

body {
    margin: 0;
    padding-top: 98px; /* menyesuaikan tinggi header */
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #d8d8d8;
    color: #313131;
}

.header {
    position: fixed;
    top: 0;
    width: 98%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.header nav a {
    color: rgb(122, 176, 248);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s;
}

.header nav a:hover {
    color: #ffcc00;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.facility {
  display: flex;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 40px;
}

.facility-text {
  background-color: #333;
  color: white;
  padding: 30px;
  width: 40%;
}

.facility-text h2 {
  margin-top: 0;
  font-size: 28px;
}

.facility-text p {
  margin: 10px 0;
  line-height: 1.6;
}

.facility-text a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.facility-image {
  width: 60%;
}

.facility-image img {
  width: 100%;
  height: auto;
  display: block;
}
